/* ================== TAG SELECTORS ================== */

body {

  background-color: #faf2f2;
  font-family: Arial;
}

hr {

  height: 0px;
  width: 8%;
  border-style: dotted none none none;
  border-color: #f3e1e1;
  border-width: 5px;
}

h1 {

  color: #7d5a5a;

}

h3 {
  color: #f1d1d1;
}

/* ================== CLASS SELECTORS ================== */

.circular {
  border-radius: 100%;
}
